<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  html,
  body {
    width: 100%;
    height: 100%;
  }
  .main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    text-align: center;
    box-shadow: 0px 0px 3px 3px #dddddd;
    height: auto;
    width: 280px;
    padding: 10px 15px;
    border-radius: 10px;
  }
  .card .title {
    font-size: 2em;
    margin: 15px;
  }
  .card .form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form label {
    cursor: pointer;
  }
  .card .form .input-radio {
    box-shadow: 0px 0px 0px 1px #6d6d6d;
    font-size: 3em;
    width: 25px;
    height: 25px;
    margin-right: 7px;

    border: 4px solid #fff;
    background-clip: border-box;
    border-radius: 50%;
    appearance: none;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  .card .form label {
    display: flex;
    margin: 10px 15px;
  }

  .input-radio.on:checked {
    box-shadow: 0px 0px 0px 4px #00eb27;
    background-color: #51ff6e;
  }
  .input-radio.off:checked {
    box-shadow: 0px 0px 0px 4px #eb0000;
    background-color: #ff5151;
  }
</style>
<div class="container">
  <h2>Upload Image</h2>
  <div class="row">
    <div class="col-md-6">
      <input type="file" id="imageUpload" accept="image/*" />
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" onclick="uploadImage()">
        Upload Image
      </button>
    </div>
  </div>
  <div id="imageResponse"></div>
  <hr />

  <h2>Upload PDF</h2>
  <div class="row">
    <div class="col-md-6">
      <input type="file" id="pdfUpload" accept=".pdf" />
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" onclick="uploadPDF()">Upload PDF</button>
    </div>
  </div>
  <div id="pdfResponse"></div>
  <hr />

  <div class="container">
    <h2>Create Book</h2>
    <div style="padding-bottom: 20px">
      <div class="form-group">
        <label for="bookTitle">Book Title</label>
        <input type="text" class="form-control" id="bookTitle" />
      </div>

      <div class="form-group">
        <label for="bookDescription">Book Description</label>
        <textarea class="form-control" id="bookDescription" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="newImageName">New Image Name</label>
        <input type="text" class="form-control" id="newImageName" />
      </div>

      <div class="form-group">
        <label for="newFilename">New Filename</label>
        <input type="text" class="form-control" id="newFilename" />
      </div>

      <div class="form-group">
        <label for="category">Category</label>

        <select
          class="form-control"
          id="category"
          name="category"
          style="width: 100%"
        ></select>
      </div>

      <div class="form-group">
        <label for="pages">Pages</label>
        <input type="number" class="form-control" id="pages" />
      </div>

      <div class="form-group">
        <label for="isbn">ISBN</label>
        <input type="text" class="form-control" id="isbn" />
      </div>

      <div class="form-group">
        <label for="publisher">Publisher</label>
        <input type="text" class="form-control" id="publisher" />
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" />
      </div>

      <div class="form-group">
        <label>Prime:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="isPrime"
            id="primeTrue"
            value="true"
          />
          <label class="form-check-label" for="primeTrue">True</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="isPrime"
            id="primeFalse"
            value="false"
            checked
          />
          <label class="form-check-label" for="primeFalse">False</label>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" onclick="createBook()">
          Create Book
        </button>
      </div>
    </div>
  </div>
</div>
<script src="js/uploadBook.js"></script>
<script>
  var cats = [];
  $.ajax({
    url: "/getAllCategory", // Endpoint to fetch category data
    type: "GET",
    dataType: "json",
    headers: headers,
    success: function (data) {
      for (let e of data.data) {
        cats.push({
          id: e.id,
          text: e.categoryName,
        });
      }
      $("#category").select2({
        placeholder: "Select Category",
        data: cats,
      });
    },
    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
  });
</script>
